.container{
    background-color: #0B0E11;
    overflow: auto;
    height: 1000px;
    padding: 0px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 14px;
}
::-webkit-scrollbar {
    width: 10px;
    padding: 0px;
  }

::-webkit-scrollbar {
    width: 6px;
    background-color: #0B0E11;
}

::-webkit-scrollbar-thumb {
    background: #181a20;
    border-radius: 12px;
    height: 20px;
}